html {
    direction: rtl;
    height: 100%;
    background-color: #a9dee8;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 97%;
    padding: calc(0.4vh + 0.4vw);
    margin: 0;
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

#website-head-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
}

#title-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1vh 0.01vw 1vh 1vw;
    background-color: #CEE8ED;
    border-color: #113376;
    border-radius: calc(0.5vh + 0.5vw);
}

#title {
    position: relative;
    margin-left: auto;
    white-space: nowrap;
    margin-right: 0.7vw;
    letter-spacing: 0.2vw;
    font-size: calc(1.5vh + 1.5vw);
    color: #20437F;
    -webkit-text-stroke: 0.03vh #ffffff;
    text-shadow:    -0.05vw 0.2vh 1vh #000000,
                    0.3vh -0.4vh 0 #24c2ee,
                    -0.3vh -0.4vh 0 #24c2ee, 
                    -0.3vh 0.4vh 0 #24c2ee, 
                    0.3vh 0.4vh 0 #24c2ee;
}

#hello-msg {
    font-weight: bold;
}

#user-name {
    font-size: calc(1vh + 1vw);
}

#last-login {
    font-size: calc(0.5vh + 0.5vw);
}

#clock-container {
    display: flex;
    justify-content: end;
    height: 90%;
    width: 15%;
    margin-left: 3%;
}

#clock-time {
    text-align: center;
    align-self: center;
    width: 10vw;
    height: 3vh;
    padding: calc(0.3vh + 0.1vw);
    background-color: #cfedaf;
    box-shadow: -0.05vh 0.3vh 0.5vh -0.1vh #1e7822;
    font-weight: bold;
    font-size: calc(1vh + 1vw);
}

#clock-btn {
    width: 10vw;
    height: 100%;
    margin-left: 6%;
    padding: 0;
    background: linear-gradient(180deg, #e2e4e2 6%, #c1c1c1 100%);
    box-shadow: 0.05vw 0.05vh 0.1vh 0.02vh rgba(0, 0, 0, 0.8);
    border-color: #444444;
    font-weight: bold;
    font-size: calc(0.8vh + 0.8vw);
}

.icon-img {
    width: 8%;
    height: 100%;
}

.bordered {
    border: solid;
}

#website-body-container {
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 88%;
}

#details-section {
    text-align: center;
    height: 100%;
    width: 70%;
    padding: 0 3.5vw;
    background-color: #ebeded;
    border-color: #113376;
    border-radius: calc(3vh + 3vw);
    font-weight: bold;
    font-size: calc(1vh + 1vw);
}

#all-details {
    position: relative;
    height: 60%;
    margin-top: 3vh;
    margin-bottom: 0.5%;
    padding: 2vh;
    background-color: #ffffff;
    border-color: #113376;
}

#specific-details {
    height: 22%;
    padding: 2vh;
    background-color: #ffffff;
    border-color: #113376;
}

#side-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    background-color: #3FAEBA;
    border-color: #113376;
    border-radius: calc(2vh + 2vw);
}

#btn-list {
    margin-top: 10%;
    margin-bottom: 30%;
}

.side-bar-btn {
    display: block;
    height: 7vh;
    width: 13vw;
    margin-top: 2vh;
    padding: 0;
    color: #ffffff;
    background: #186573;
    background:
                linear-gradient(to bottom right, rgba(228,245,252,0) 0%,rgba(191,232,249,0) 50%,rgba(13, 136, 158, 1) 51%, rgba(13, 136, 158, 1) 100%),
                linear-gradient(to bottom left, rgba(228,245,252,0) 0%,rgba(191,232,249,0) 50%,rgba(13, 136, 158, 1) 51%, rgba(13, 136, 158, 1) 100%),
                linear-gradient(180deg, rgba(5, 247, 255, 1) 0%, rgba(13, 247, 255, 0.4) 16%, rgba(13, 136, 158, 1) 22%);
    box-shadow: -0.2vw 0.2vh 0.5vh 0.1vh rgba(0, 0, 0, 0.8),
                0.1vw 0.1vh 0.2vh 0.05vh rgba(0, 0, 0, 0.8);
    border-radius: calc(2vh + 0.1vw);
    border-width: 0;
    font-size: calc(1vh + 1vw);
}

.active-side-btn {
    background: #0c7285;
    border: calc(0.2vh + 0.2vw) solid white;
}

#young-table {
    table-layout: fixed;
    text-align: right;
    width: 90%;
    height: 20%;
    margin: auto;
    border-spacing: calc(0.1vh + 0.1vw);
}

#young-table-head {
    color: #ffffff;
    background-color: #000000;
}

#young-table-body::before {
    display: block;
    line-height: 0.5vh;
    content: '\200C';
    background-color: white;
}

#young-table-body {
    background-color: #c9c9c9;
    cursor: pointer;
}


#young-table-body tr:hover {
    background-color: #dcb2c7;
}

.chosen-young {
    background-color: #79a8c9;
}

.young-header-content {
    display: flex;
}

#young-table td, th {
    padding: 1%;
    padding-right: 2%;
}

#all-details-content {
    margin-top: 4vh;
    font-size: calc(1vh + 1vw);
}

#specific-details-content {
    display: block;
    overflow-y: auto;
    direction: ltr;
    height: 80%;
    margin-top: 1.5vh;
    margin-right: 2%;
    font-size: calc(1.4vh + 1.4vw);
    font-weight: bold;
}

.young-details-line {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    margin-bottom: 0.5vh;
}

.young-details-line div {
    margin-left: 3%;
}

#multi-selection-btn {
    position: absolute;
    left: 1.2vw;
    top: 0.8vh;
    width: 6vw;
    height: 5vh;
    padding: 0;
    color: white;
    background-color: #3f45b0;
    border: calc(0.2vh + 0.2vw) solid black;
    font-size: calc(0.8vh + 0.8vw);
}

#multi-selection-btn.active-multi-select {
    background-color: #6b71de;
}

.sort-btns-container {
    margin-right: auto;
}

.young-sort-btn {
    width: 0;
    height: 0;
    border-left: 0.7vw solid transparent;
    border-right: 0.7vw solid transparent;
    cursor: pointer;
}

.sort-up {
    margin-bottom: 0.3vh;
    border-bottom: 2vh solid #3f45b0;
    border-top-width: 0 !important;
}

.sort-down {
    border-top: 2vh solid #3f45b0;
    border-bottom-width: 0 !important;
}

.active-sort {
    border-bottom: 2vh solid #3FAEBA;
    border-top: 2vh solid #3FAEBA;
}

.young-sort-btn:hover {
    opacity: 0.6;
}

.tab-img {
    margin-top: 1.5vh;
    height: 96%;
    width: 100%;
}
